@font-face {
    font-family: 'Kabel';
    src: url('/fonts/KabelBook.woff2') format('woff2'),
        url('/fonts/KabelBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kabel Black';
    src: url('/fonts/Kabel-Black.woff2') format('woff2'),
        url('/fonts/Kabel-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


#home {
  background: url(img/LandingImage.png) no-repeat center center/cover;
  height: 100vh;
  overflow: hidden;
}

#collage {
  margin-top: 20px;
  margin-bottom: 20px;
}

#role {
  background: url(img/RoleSelectionImage.png) no-repeat center center/cover;
}

body {
  background-color: #F4F4F4 !important;
  height: 100vh;
  overflow: hidden;
}


/*Reseting universal settings*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper-home {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 150px;
  margin-left: 10px;
  color: #fff;
  height: 100vh;
}

.nested-home-1 {
  display: grid;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 40px;
}

.nested-home-2 {
  display: grid;
  margin-top: 10px;
  margin-left: 25px;
  grid-template-columns: 66%;
}

.nested-home-3 {
  margin-top: -80px;
}

.nested-home-4 {
  margin-left: 180px;
}

.nested-home-4 h3 {
  margin-top: 30px;
  font-size: 35px;
}

.button-down {
  background: url(img/Button.png) no-repeat;
  display: inline-block;
  border: none;
  margin-top: 10px;
  margin-left: 235px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 30px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 25px;
}

.button-down:hover {
  background: url(img/ButtonHover.png) no-repeat;
}


.button-up {
  background: url(img/ButtonUp.png) no-repeat;
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 30px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 25px;
}

.button-up:hover {
  background: url(img/ButtonUpHover.png) no-repeat;
}

.wrapper-role {
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper-role-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.nested-role-2 {
  display: grid;
  width: 65%;
  margin-left: 60px;
  margin-bottom: 30px;
}

.nested-role-3 {
  display: grid;
  width: 60%;
  margin-left: 250px;
  margin-bottom: 30px;
}

.wrapper-role-2 p {
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 25px;
  line-height: 28px;
  color: #fff;
}

.wrapper-role-2 h1 {
  display: inline-block;
  font-family: 'Kabel Black', sans-serif;
  border-radius: 4px;
  background-color: transparent;
  border: 4.5px solid #ECF700;
  border-radius: 5px;
  color: #ECF700;
  letter-spacing: 1px;
  text-align: center;
  font-size: 55px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100% transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.wrapper-role-2 h1:hover {
  color: #fff;
   !important;
  border-radius: 30px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(236, 247, 0, 0.37);
  -moz-box-shadow: 0px 5px 40px -10px rgba(236, 247, 0, 0.37);
  transition: all 0.3s ease 0s;
}

.nested-role-1 {

  text-align: center;
}

.nested-role-2a {
  width: 60%;
  margin-left: 80px;
}

.nested-role-2b {
  width: 45%;
  margin-left: 90px;
}

h1. .paragraph-space {
  margin-bottom: 25px;
}

h1 {
  font-family: 'Kabel', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

h2 {
  font-family: 'Kabel Black', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 35px;
}

h2.button {
  background-color: #399FB7;
  padding-left: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 66%;
}

h3 {
  font-family: 'Kabel Black', sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.nested-home-3 h2 {
  font-weight: 400;
  font-size: 50px;
  font-weight: 800;
  color: #283E71;
}

p {
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
}

nav {
  display: flex;
  /*Enabling flex container */
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color: transparent;
}

.fa-circle {
  color: #399FB7;
  padding-right: 4px;
}

.logo {
  margin-top: 50px;
  padding-right: 650px;
  font-size: 35px;
  color: #fff;
  font-family: 'Kabel', sans-serif;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.nested-home-4 h3 {
  color: #283E71;
}

.nested-role-1 h1 {
  color: #283E71;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Kabel Black', serif;
}

.nested-role-1 p {
  color: #4D4D4D;
  font-size: 22px;
  margin-top: 10px;
  letter-spacing: 1.5px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.nav-links a {
  text-decoration: none;
  color: #399FB7;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  padding-right: 50px;
}

.nav-links a:hover {
  color: #283E71;
  transition-timing-function: ease-in-out;
  transition: 0.4s;
}

.nav-links li {
  list-style: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #F4E0C7;
  margin: 5px;
}

.burger {
  display: none;
  cursor: pointer;
}

/* Mobile Version */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    background-color: #283E71;
  }

  .nav-links a {
    color: #fff;
  }

  .nav-links a:hover {
    color: #000;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: #283E71;
    dispaly: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .fas {
    display: none;
  }

  .nav-links li {}

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @@keyframes linkFadeIn {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
